.top-to-btm {
  position: relative;
}

.icon-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}

.icon-style {
  background-color: #fff;
  /* background: url('/public/assets/images/logo-white.jpg');
  object-fit: cover; */
  border: 2px solid var(--main-3);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: var(--main-3);
  cursor: pointer;
  animation: movebtn 3s linear infinite;
  /* transition: all .5s linear; */
}

.icon-style:hover {
  animation: none;
  background: var(--main-3);
  color: #fff;
  /* border: 2px solid #fff; */
}

@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(20px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}