#products {
    margin: 7rem 0 4rem;
    padding: 0 100px;
    /* font-family: sans-serif;
    text-align: center; */
}


.filter_products {
    margin: 3rem 1rem 0rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

.filter_products-right {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.form-input {
    display: flex;
    align-items: center;
    border: 1px solid #333;
    border-radius: 5px;
}

.form-input input {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 8px 10px;
    width: 100%;
}

.form-input i {
    color: #555;
    padding-left: 10px;
}



.form-filter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-sort {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}


/* Products */
.productsz {
    margin-top: 15px;
    width: 20rem;
    overflow-y: auto;
    max-height: 400px;
    overflow-y: auto;
}

h3 {
    padding: 8px 20px;
}

.product {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 8px 20px;
    height: 100px;
}

.product:hover {
    background-color: #ddd;
}

.product img {
    width: 50px;
    object-fit: cover;
    object-position: center;
    margin-right: 20px;
}

.product h4 {
    font-size: 15px;
    color: #333;
    margin-bottom: 15px;
    font-weight: 600;
}

.hide {
    display: none;
}

/************************ main ***************************/






/* .products {
    display: flex;
} */

.product--details {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    row-gap: 50px;
    row-gap: 20px;
    column-gap: 20px;
    column-gap: 40px;

}

.product-card {
    flex: 1 1 270px;
    text-align: center;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}



.product-card-img {
    /* height: 390px; */
    width: 270px;
    width: auto;
    display: flex;
    overflow: hidden;
    position: relative;

}

.product-card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.product-card-body {
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}

.product-card-img:hover .product-card-body {
    left: 0;
    opacity: 1;
}


.product-card-title {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
}

.product-card-subtitle {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
}

.product-card-body>.btn {
    text-align: center;
    color: #fff;
    /* width: 50%; */
    padding: 0.5rem 1rem;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s;
    backdrop-filter: blur(10px);
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 0 0.01px var(--main-2);
    transition: ease .75s;
    border: 1px var(--main-3) solid;

    background-color: var(--main-3);
}

.product-card-body>.btn:hover {
    border: 1px var(--main-3) solid;
    box-shadow: inset 100rem 0 0 0 #fff;
    color: var(--main-3);
}


.product-card-detail {
    padding: 20px 0;
}

.product-card-detail .name {
    color: #8A8A8F;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.5s;
}

.product-card-detail .name:hover {
    color: #000;
}

.price {
    color: var(--primary-colorBlue1);
    font-weight: bold;
}

.btn {
    /* display: inline-block;
    padding: 7px 20px;
    border: 1px solid var(--main-3);
    background: linear-gradient(45deg, var(--main-3), var(--main-2), var(--main-3));
    transition: transform 200ms;
    margin-top: 10px; */
    /* border: 1px solid #003067;
    background: linear-gradient(45deg, #003067, #1A4F8E, #003067); */
    /* border-radius: 8px; */
}

/* .btn a {
    font-weight: 500;
    color: var(--primary-colorBlue1);
}

.btn:hover {
    transform: scale(1.2);
} */

.products--pagination {
    width: 100%;
}


.products--pagination ul li {
    display: inline-block;
    margin: 0 0.50px;
    border-radius: 50%;
    background-color: #F0F4F6;
    height: 3.50px;
    width: 3.50px;
    position: relative;

}

.products--pagination ul li a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.products--pagination ul {
    text-align: center;
    margin: 30px 0;

}


.products--pagination ul .active {
    background-color: #003067;
    box-shadow: 0 5px 15px 0 rgba(101, 63, 153, 0.75);

}

.products--pagination ul .active a {
    color: #fff;
}


.right {
    flex: 1.5;
}

.right h2 {
    background-color: var(--main-header);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 18px;
    padding: 10px;

}

.right p {
    margin-top: 30px;
    color: var(--color-text);
}

.right p:last-child {
    padding-bottom: 30px;
}



/************************ footer ***************************/
.contact {
    text-align: center;
    padding: 20px 0;

    background: #F0F4F6;
    background: -webkit-linear-gradient(to right, #F0F4F6, #e7f9ff, #F0F4F6);
    background: linear-gradient(to right, #F0F4F6, #e7f9ff, #F0F4F6);
}

.contact--desciption {
    font-size: 20px;
    padding-bottom: 10px;
}

.contact--link a {
    font-size: 15px;
}

.contact--link ul li {
    display: inline-block;
}

.contact--link ul li:nth-child(odd) {
    padding-left: 10px;
}

span {
    font-size: 20px;
}


/************************ media ***************************/
@media screen and (max-width: 1200px) {
    main {
        padding: 20px 30px;
        column-gap: 2.50px;
    }

    .left {
        flex: 1.5;
    }

    .products {
        flex: 5;
    }

    .products--title {
        padding-left: 20px;
    }

    .product--details {
        margin-top: 30px;
        row-gap: 30px;
        column-gap: 20px;
    }
}

@media screen and (max-width: 1024px) {
    /* html {
        font-size: 55%;
    } */

    main {
        padding: 20px 30px;
        column-gap: 2.50px;
    }

    .left {
        flex: 1.5;
    }

    .products {
        flex: 5;
    }
}

@media screen and (max-width: 992px) {
    .left {
        flex: 2.5;
    }

    .products {
        flex: 7.5;

    }

    .right {
        flex: auto;
        order: 4;
    }

    .products--pagination {
        order: 3;

    }

}

@media screen and (max-width: 768px) {
    /* html {
        font-size: 50%;
    } */

    .category--title,
    .top-product--title {
        font-size: 20px;
    }

    .logo,
    .main-nav {
        display: none;
    }

    .left {
        flex: 150px;
    }

    .mobile-menu {
        display: block;
        padding-left: 20px;
    }


    .search-box {
        flex: none;
    }

    .search-box input {
        width: 90%;
    }
}

@media screen and (max-width: 380px) {
    main {
        padding: 20px;
    }

    .products {
        margin-top: 5px;
    }

    .products--title {
        text-decoration: underline;
    }

    .list-group-item {
        text-align: center;
    }

}