#change-password {
    margin: 7rem 10rem 4rem;
    min-height: calc(100vh - 11rem);

}

@media screen and (max-width: 950px) {}

@media screen and (max-width: 750px) {
    #change-password {
        margin: 6rem 10vw 4rem;
        min-height: calc(100vh - 10rem);
    }

}

@media screen and (max-width: 600px) {
    #change-password {
        margin: 6rem 1.5rem 4rem;
    }

}