#shopping-cart {
    margin: 7rem;
    min-height: calc(100vh - 14rem);

}

.shopping-cart-main {
    margin-top: 1rem;
}

.product-cart-shopping {
    display: flex;
    align-items: center;
    gap: 2rem;
    /* justify-content: space-evenly; */
    text-align: left;
}

.product-cart-shopping-img {
    /* height: 100%;
    width: 100%; */
    overflow: hidden;
    height: 200px;
    /* flex: 1;
    justify-self: start; */
}

.product-cart-shopping-img img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.quantity-cart {
    display: flex;
    justify-content: center;
}


.shopping-cart-main .price {
    font-size: 16px;
}

.product-cart-shopping-detail {
    /* flex: 2;
    margin: auto; */
}

.product-cart-shopping-detail>.title {
    margin-bottom: 0.3rem;
}

.product-cart-shopping-detail>.subtitle p {
    margin-bottom: 0;
}

/* .subtitle p:nth-last-child(1) {
    margin-top: 1.5rem;
} */




#shopping-cart .line {
    margin-top: 1.5rem;
}



.total-money {
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-top: 2rem;
}

.total-money p span.total-money-title {
    padding-right: 1rem;
}

.total-money-main {
    font-size: 30px;
}