.subnews {
    margin: 7rem;
}

.main_subnews {
    display: flex;
    margin-top: 3.5rem;
    gap: 3rem;
}

.subnews_left {
    width: 7;
}

.subnews_left-img {
    width: 80%;
}

.subnews_left-img>img {
    width: 100%;
}


.subnews_right {
    flex: 3;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.news-new {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.css-h93ljk-MuiTypography-root {
    font-size: 1.2rem !important;
}

.css-r40f8v-MuiTypography-root {
    font-size: 1rem !important;
}

/* .subnews p {
    font-size: 1rem !important;
} */


/************************ media ***************************/
@media screen and (max-width: 1200px) {
    .subnews {
        margin: 6rem 4rem;
    }

    .main_subnews {
        display: flex;
        margin-top: 3.5rem;
        gap: 2rem;
    }

    .subnews_left-img {
        width: 100%;
    }

    .subnews_right {
        min-width: 300px;
    }


    .setting-mobile-card {
        max-width: 300px !important;
    }
}

@media screen and (max-width: 1024px) {
    .subnews {
        margin: 6rem 2rem;
    }

    .main_subnews {
        display: flex;
        margin-top: 3.5rem;
        gap: 2rem;
    }

    .subnews_right {
        min-width: 270px;
    }


    .setting-mobile-card {
        max-width: 270px !important;
    }
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 380px) {
    .subnews {
        margin: 6rem 1.5rem;
    }

    .main_subnews {
        display: flex;
        margin-top: 3.5rem;
        gap: 2rem;
        flex-direction: column;
    }

    .subnews_left-img {
        width: 100%;
    }

    .subnews_right {
        min-width: 300px;
    }


    .setting-mobile-card {
        max-width: 300px !important;
    }

}