.footer {
    /* width: 100%; */
    background: var(--main-2);
    /* color: white; */
}

.footer hr {
    margin: 0;
}

.conn-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 95%;
    margin: 0 auto;
}

.footer-main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-component {
    width: 290px;
}

.footer-component:nth-of-type(2),
.footer-component:nth-of-type(3) {
    width: 190px;
}

.footer-component a {
    text-decoration: none;
    color: inherit !important;
}


.footer-component h6 {
    text-transform: uppercase !important;
    margin-bottom: 1.5rem !important;
    font-weight: 700 !important;
    font-size: 1em;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}



/*Mobile*/

/* @media screen and (max-width: 46.1875em) { */
@media screen and (max-width: 950px) {

    .footer-main {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-component {
        margin: 10px 0;
        padding: 0;
        width: 100%;
    }


    .conn-social {
        justify-content: center;
    }

    .conn-text {
        display: none;
    }
}

/*Mobile*/

/* @media screen and (max-width: 46.1875em) {
    .conn-social{
        justify-content: center;
        margin: 0;
    }

    .conn-text{
        display: none;
    }
} */


/********************icon****************/
.wrapper {
    display: flex;
}

.icon {
    margin: 0 10px;
    cursor: pointer;
    position: relative;
}

.icon i {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon .tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.icon .tooltip:before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
}

.tooltip,
.icon i {
    color: var(--main-3);
    transition: 0.3s;
}

.icon:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    top: -70px;
}

.icon:hover i {
    color: white;
}

.facebook .tooltip:before,
.facebook:hover i,
.facebook .tooltip {
    background: var(--facebook-color);
}

.github .tooltip:before,
.github:hover i,
.github .tooltip {
    background: var(--github-color);
}

.twitter .tooltip:before,
.twitter:hover i,
.twitter .tooltip {
    background: var(--twitter-color);
}

.instagram .tooltip:before,
.instagram:hover i,
.instagram .tooltip {
    background: var(--instagram-color);
}

.youtube .tooltip:before,
.youtube:hover i,
.youtube .tooltip {
    background: var(--youtube-color);
}